* {
	margin: 0px;
}

.first-section {
	background-color: #1F2937;
	color: #F9FAF8;
	padding-left: 128px;
}

.header-logo {
	padding: 8px;
	font-weight: bold;
	font-size: 24px;
	color: #F9FAF8;
}

.secondary-text {
	font-size: 18px;
	font-weight: normal;
	color: #E5E7EB;
}

button {
	background-color: #3882F6;
}
