#title {
    justify-content: center;
    text-align: center;
}

#scores {
    display: flex;
    justify-content: space-around;
}

#message {
    display: flex;
    justify-content: center;
}

#choices {
    display: flex;
    gap: 10px;
}

/* CSS */
button {
    flex:auto;
    height: 50px;
    border: 0px;
    background-color: #3B4252;
    color: #D8DEE9;
    border-radius: 8px;
}

button:disabled {
  /* cursor: default; */
}

button:hover {
    background-color: #434C5E;
    color: #E5E9F0;
    cursor: pointer;
}

/* button:focus {
    background-color: #4C566A;
    color: #E5E9F0;
    cursor: pointer;
} */